<h1>Bonjour ! Veuillez confirmer votre adresse email.</h1>

<p>
    Merci de confirmer votre adresse email en cliquant ici: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData,
        'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement !
</p>
