{# Pied de page #}
<div class="row">
    <div class="col-12 column footer mt-auto py-4">
        <div class="row">
            <div class="col-3 offset-1">
                <img src="{{ asset('/images/logo_footer.gif') }}" alt="" class="footer-logo">
            </div>
            <div class="col-2 text-white">
                <div class="footer_navbar">
                    <h3 class="fw-bold text-uppercase">Coordonnées</h3>
                    <p>Association Action Culottée<br> 6, rue Houdon 75018 Paris</p>
                    <p>actionculottee@gmail.com</p>
                </div>
            </div>
            <div class="col-2 text-white">
                <div class="footer_navbar">
                    <h3 class="fw-bold text-uppercase">Navigations</h3>
                    <p>Accueil</p>
                    <p>Qui sommes-nous ?</p>
                    <p>Partenaires</p>
                    <p>Actualités</p>
                </div>
            </div>
            <div class="col-2 text-white">
                <div class="footer_navbar">
                    <h3 class="fw-bold text-uppercase">Liens utiles</h3>
                    <p>Mentions légales</p>
                    <p>Conditions générales d'utilisation</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row copyright ">
        
        <div class="col-4 offset-5">
            <div class="footer_navbar ">
                <h3>Action Culottée - 2022</h3>
            </div>
        </div>
        
        <div class="col-2 offset-1">
            <div class="footer_navbar ">
                <a href="https://www.facebook.com/groups/2876116489372224/" target="_blank"><i class="fa-brands fa-facebook-square fa-2x ms-4 me-3"></i></a> <a href="https://www.instagram.com/actionculottee/" target="_blank"><i class="fa-brands fa-instagram-square fa-2x me-3"></i></a> <a
                        href="https://www.linkedin.com/company/actionculottee" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    </div>

</div>
