{#TODO: Pied de page#}

<div class="footer mt-auto">
        <div class="row">
            <div class="col-md-4">
            <img src="{{ asset('/images/logo_footer.png') }}" alt="" class="footer-logo">
            </div>
            <div class="col-md-4">
                <div class="footer_navbar">
                    <p>Je suis un texte</p>
                    <p>Je suis un texte</p>
                    <p>Je suis un texte</p>
                    <p>Je suis un texte</p>
                </div>
            </div>
             <div class="col-md-4">
                <div class="footer_navbar">
                    <p>Je suis un texte</p>
                    <p>Je suis un texte</p>
                    <p>Je suis un texte</p>
                    <p>Je suis un texte</p>
                </div>
            </div>
        </div>
    </div>

