{#TODO: Pied de page#}
<div class='footer'>
        <a class="navbar-footer" href="{{ path('main_home') }}">
            <img src="{{ asset('/images/logo_footer.png') }}" alt="" class="img-fluid main-navbar-logo">
        </a>
</div>