{% extends 'base.html.twig' %}

{% block title %}Qui-sommes-nous ?{% endblock %}

{% block cssIncludes %}
    {#  Inclusion du css pour le slider  #}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css"
    />
    <style>
        /*#container img {*/
        /*    display: block;*/
        /*    width: 100%!important;*/
        /*    height: 100% !important;*/
        /*}*/

        #container img {
            display: block;
            width: auto !important;
            height: 500px !important;
        }

        #container p {
            text-align: center;
        }

        #container {
            height: 100%;
        }
    </style>
{% endblock %}

{% block body %}

    {# //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}


    <div class="container-fluid">


        {#        Affichage texte qui-sommes-nous #}

-
        <div id="about" class="row">
            <div class="col-12">
                <h1>Qui sommes-nous ?</h1>

                <p class="">
                    {{ display_dynamic_content('about_text_presentation') }}
                </p>

            </div>
{#TODO: sup pas ouf#}
        </div>
        {{ display_dynamic_content('about_nb_img') }}

        {#        Affichage du slider #}

        <section id="container" class="d-flex align-items-center col-12 col-md-3  p-md-3">

            <div id="vertical-slider" class="splide">

                <div class="splide__track ">

                    <ul class="splide__list">

                       <span class="d-none"> {% for i in 1..display_dynamic_content('about_nb_img') %}</span>

                            <li class="splide__slide py-5">
                                {{ display_dynamic_content('about_image' ~ i) }}
                            </li>

                        {% endfor %}


                    </ul>
                </div>
            </div>

        </section>


    </div>


    {# ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}






{% endblock %}

    {% block jsIncludes %}

        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>

        <script>

            document.addEventListener('DOMContentLoaded', function () {

                new Splide('.splide', {


                    // isNavigation: false,
                    // wheel: true,
                    // pagination: false,
                    // focus: "center",
                    //
                    // // gap: '3rem',
                    //
                    // height: '100vh',
                    // width: '25vw',


// breakpoints responsive

                    // breakpoints: {
                    //
                    //
                    //     1024: {

                    type: 'loop',
                    direction: "ltr",
                    updateOnMove: true,
                    arrows: true,
                    isNavigation: true,
                    wheel: false,
                    pagination: false,
                    focus: 'center',

                    perPage: 2,

                    gap: '1rem',
                    lazyLoad: true,
                    rewind: true,

                    autoWidth: true,
                    height: 'auto',
                    width: '100vw',

                    autoHeight: true,


                    // },

                    // },

                }).mount();

            });

        </script>


    {% endblock %}
