{% extends 'base.html.twig' %}

{% block title %}Qui-sommes-nous ?{% endblock %}

{% block cssIncludes %}
    {#  Inclusion du css pour le slider  #}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css"
    />
{% endblock %}

{% block body %}


    {# //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}
    {# TODO:dynamique #}
    <div id="about" class="container-fluid col-12">

        <h1>Qui sommes-nous ?</h1>

                <p class="">
                    {{ display_dynamic_content('about') }}
                </p>

    {# ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}

    <section class="splide" aria-label="Slide Container Example">
        <div class="splide__track">
            <ul class="splide__list">

{#                TODO:foreach depuis db#}
                <li class="splide__slide">
                    <div class="splide__slide__container">
                        <img class="img-fluid w-100" src="{{ asset('images/test.png') }}" alt="">
                    </div>
                    test1
                </li>

            </ul>
        </div>
    </section>


{% endblock %}

{% block jsIncludes %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>

    <script>

        let splide = new Splide('.splide', {
            type: 'loop',
            perPage: 3,
            rewind : true,
            autoplay: true
        });

        splide.mount()

    </script>

{% endblock %}
