/*Paramètres généraux du site*/
/* Smooth scrolling sur l'entièreté du site pour plus d'accessibilité*/
html {
    scroll-behavior: smooth;
}
#scrollUp
{
    position: fixed;
    bottom : 60px;
    right: -100px;
    opacity: 0.5;
}
    /* Police */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Roboto', serif;
}

/*Titres*/
h1{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bold;
}

h2{
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

h3{
    font-family: 'Cinzel', serif;
    font-size: 100%;
    color: #E1942D;
    font-weight: bold;
}
p{
    font-size: 1.3rem;
    margin-bottom: 0;
}
.background_page_form{
    background-color: #E1942D;
}

.form_page{
    background-color: white;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 50px 0 50px 0;
    padding: 40px;
}

.form-label{
    font-weight: bold;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Classes perso */

.form-check-input:checked {
    background-color: #E1942D;
    border-color: #E1942D;
    box-shadow: 0 0 5px #E1942D ;
}
.form-check-input:active {
    background-color: #E1942D;
    border-color: #E1942D;
    box-shadow: 0 0 5px #E1942D ;
}

.form-control:focus {
    border-color: #E1942D !important;
    box-shadow: 0 0 5px #E1942D !important;
}

.button-orange{
    background: #E1942D;
    border: 2px solid white;
    border-radius: 45px;
    color: white;
}

/* Permet de supprimer l'effet focus sur le button */
.btn:focus{
    box-shadow: none;
}

.button-orange:hover{
    background: white;
    border: 2px solid #E1942D;
    border-radius: 45px;
    color: #E1942D;
}

.input-orange{
    background: #E1942D45;
    /*border: 1px solid #707070;*/
}

.input-orange:focus{
    background: #E1942D45;
    border: 1px solid #707070;
}

.color-orange {
    color: #E1942D;
}

.color-orange:hover{
    color: #E1942D;
    font-weight: bolder ;
}

.bgc-orange{
    background-color: #E1942D;
}


.btn-back {
    background: #e74c3c;
    border-radius: 45px;
    color: white;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Page register*/
#registration_form_firstname,#registration_form_lastname,#registration_form_phoneNumber,
#registration_form_memberIdNumber, #registration_form_email,#registration_form_plainPassword_first, #registration_form_plainPassword_second,#create_shop_by_user_form_name,#create_shop_by_user_form_address,#create_shop_by_user_form_zip,#create_shop_by_user_form_city,#create_shop_by_user_form_country,#create_shop_by_user_form_phoneNumber,#edit_lastname_firstname_form_lastname,#edit_lastname_firstname_form_firstname,#edit_email_form_email,#edit_password_type_form_oldPassword,#edit_password_type_form_newPassword_first,#edit_password_type_form_newPassword_second,#edit_phone_number_type_form_phoneNumber,#edit_shop_type_form_name,#edit_shop_type_form_address,#edit_shop_type_form_zip,#edit_shop_type_form_city,#edit_shop_type_form_country,#edit_shop_type_form_phoneNumber{
    background: #E1942D45;
}
.form-check a{
    color:#FF9933;
    text-decoration: none;
}
.form-check a:hover{
    color:#FF9933;
    font-weight: bolder;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*Paginations*/

/*Todo:refaire pagination si le coeur vous en dit*/

/*.pagination .current{*/
/*    background-color: #FF9933;*/
/*    padding: 0.5rem 1rem;*/

/*}*/

.pagination span a, .pagination .current{
    padding: 0.5rem 1rem;
    margin: 0 .3em;
    color: black;
    background-color: white;
    margin-bottom: 40px ;
    text-decoration: none;
}
.pagination .current{
    font-weight: bold;
    color: white;
    background-color: black;
}

.pagination span a:hover{
    box-shadow: none;
    color: #E1942D;
}

/*Style pour les boutons de tri*/
.pagination-button a{
    padding: 0.5rem 1rem;
    margin: 0 .3em;
    color: black;
    text-decoration: none;
}
.pagination-button a:hover{
    color: #E1942D;
}

/*-------------------------------------------------------------------------------------*/
/* Partials */
    /*Header*/
        /*Menu principal*/

.navbar {
    margin: 10px 10px 10px 10px;
}

.navbar-nav {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.navbar-nav a {
    margin-left: 10px;
}

.container-fluid>.navbar-collapse>.navbar-nav>.nav-item>.nav-link a.hover{
    color: black;
}

.navbar-toggler{
    margin-left: 50px;
    background-color: #E1942D;
}

@media screen and (min-width: 768px)
{
    .navbar-nav a {
        margin-left: 20px;
    }
}

@media screen and (min-width: 992px)
{
    .navbar-nav a {
        margin-left: 40px;
    }
}

    /*Footer*/

.footer {
    height: auto;
    background-color: #000000;
}

.footer_zone a.nav-link{
    color: white;
    padding: 0;
}

a.nav-link:hover{
    color: #E1942D;
}

p.text_footer{
    font-size:medium;
}


.copyright {
    background-color: #000000 ;

}

.footer-logo{
    width: 70%;
}

.fa-facebook-square{
    color: #3b5998;
}

.fa-instagram-square{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
}

.fa-linkedin{
    color: #0e76a8;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Page actualités*/
.container-fluid .row .agenda-entry{
    min-height: 100px;
    font-size: 1.5rem;
    font-weight: 500;
    border-left: solid 80px black;
}

#agenda .pagination-button a{
    background-color: white;
}

.date_actu{
    color: #E1942D;
    text-transform: uppercase;
    font-size: 20px;
}

.actu_page{
    background-color: white;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 15px 0 10px 0;
    padding: 40px;
}

/*.container-fluid .row .agenda-entry .calendar-icon{
    height: 5vh;
}*/

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------

/*Page d'accueil*/
.introduction{
    padding: 3rem;

}
.home-button{
    background: white;
    color: #E1942D;
    border: 2px solid #E1942D;
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.home-button:hover{
    background: #E1942D;
    border: 2px solid white;
    color: white;
    margin-top: 20px;
}
.missions{
    padding: 3rem;
}
.missions h3{
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 1rem;

}
.orange-line{
    text-decoration: #e1942d underline 10px;
}
.actions{
 padding: 3rem 0;
}
.posters{
    background-color: black;
}

.posters-box .color-rows{

    height: 25vh;
}

.about{
    padding-bottom: 3rem;
}

.why-join{
    padding: 3rem;
}
.why-join p{
    font-weight: bold;
}

.map{
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.dynamic-image{
    height: 130px;
}
 /*Carousel*/
#container img {
    display: block;
    width: auto !important;
    height: 500px !important;
}
.carousel img{
    height: 40rem;
}
.carousel-caption{
    background-color: rgba(0,0,0,.7);
    border-radius: 10px;
    padding: 2rem;
}
.carousel p, .carousel h5{
    color: #E1942D;
}
 /*ScrollTrigger*/


.visible, .invisible {
    opacity: 0.0;
    transition: opacity 0.5s ease;
}
.visible {
    opacity: 1.0;
}
 /*THE MAP*/
#map {
    height: 60vh;
    margin-bottom: 40px;
}
/*Effet typewriter*/
.typewriter h2 {
    font-size: 2rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em solid orange; !* The typwriter cursor *!*/
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    text-align:center;
}

@media screen and (min-width: 768px)
{
    .typewriter h2 {
        font-size: 2.5rem;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        /*border-right: .15em solid orange; !* The typwriter cursor *!*/
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation:
                typing 3.5s steps(40, end),
                blink-caret .75s step-end infinite;
        text-align:center;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px)
{
    .typewriter h2 {
        font-size: 2.8rem;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        /*border-right: .15em solid orange; !* The typwriter cursor *!*/
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation:
                typing 3.5s steps(40, end),
                blink-caret .75s step-end infinite;
        text-align:start;
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

/*---------------------------------------------------------*/

/* Page partenaire */

/* Overlay */

.overlay {

    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    opacity: 0;
}

.content {

    padding-bottom: 10%;

}
.card-img-top{
    filter: contrast(200%);
    border-radius: 100%;
}

.orange-filter{
    background-color: #e1942d;
    opacity: .7;

    border-radius: 10px;
}

/* Affichage du partenaire */

.fa-xmark {
    display: block;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.img-p-partner p {
    font-size: .9rem;
}

.display-partner{
    width: 50vw;
}
/* Card */

.card {

    border: none;

}

.card img{

    max-width: 100%;
    height: 200px;
    object-fit: cover;

    box-shadow: 10px 5px 11px -1px rgba(0,0,0,0.32);
    -webkit-box-shadow: 10px 5px 11px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 5px 11px -1px rgba(0,0,0,0.32);;

    cursor: pointer;

}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Page de profil */

/*
.profil-text-size,
.profil-text-size div div button {

    font-size: 7;
}*/

.interface-user {

    border-radius: 30px;

}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Page de modification de boutique */

.separeted li {
    margin-bottom: 10px;
}

.flex-profil div{
    margin-bottom: 15px;
}





/*---------------------------------------------------------------------------------*/
/*Panel admin*/
/*Accueil*/

.separation-row{
    height: 15vh;
}
.admin-button{
    background: white;
    color: #6c575d;
    border: 2px solid #6c575d;
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.admin-button:hover{
    background: #e1942d;
    border: 2px solid white;
    color: white;
    margin-top: 20px;
}
/*Bouton export*/

.export-button a{
    padding: 0.5rem 1rem;
    border: black solid 1px;
    margin: 0 .3em;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    box-shadow: 3px 3px 3px black;
}
.export-button:hover a{
    box-shadow: none;
    background-color: #FF9933;
}

/*//////////////////////////////////////////////////////////*/

/* Média query  */
@media screen and (min-width: 992px) {
    #map {
        height: 60vh;
    }
}

/*Media Queries*/

@media screen and (min-width: 768px){

    .home-title{
        font-size: 4rem;
    }

    .home-button{

        font-size: 1rem;
    }

    .flex-profil div {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;

    }

    .flex-profil div:last-child {
        display: block;
    }

}

@media screen and (min-width: 992px) {
    #map {
        height: 60vh;
    }
    .shop-edit-table thead tr th,
    .shop-edit-table tbody tr td
    {
        width: 50%;
    }
    .home-button{
        padding: 1rem 8rem;
    }
    /*Animation JS des images sur la page d'accueil*/
    .dynamic-image{
        position: relative;
        left: -150px;
    }

    .hide-overflow{
        overflow: hidden;
    }
    .animation{
        height: 130px;
        position: relative;
        left: 0;
    }

}


