{% extends 'base.html.twig' %}

{% block title %}Enregistrez vos boutiques{% endblock %}

{% block body %}

<h1>Enregistrez vos boutiques</h1>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6 mx-auto text-center mt-5">
				{{ form_start(createShopForm) }}
                {{ form_widget(createShopForm.owner, {
                    'attr' : {
                        'class' : 'd-none'
                    }
                })
                }}
                {{ form_end(createShopForm) }}
                
			</div>
		</div>
	</div>
	
{% endblock %}


