{% extends 'baseAdmin.html.twig' %}

{% block title %}Enregistrer une boutique{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1>Enregistrer une boutique</h1>
		<div class="row">
			<div class="col-12 col-md-8 offset-md-3">
				{{ form(form) }}
			</div>
		</div>
	</div>
	
{% endblock %}
{% block jsIncludes %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="{{ asset('js/typeahead/typeahead.js') }}"></script>
	<script src="{{ asset('js/typeahead/autocompletion-shop-inputs.js') }}"></script>
{% endblock %}

