{% extends 'baseAdmin.html.twig' %}

{% block title %}Enregistrer une boutique{% endblock %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-8 offset-md-3">
				<h1>Enregistrer une boutique</h1>
				<a class="btn btn-outline-success mb-4" href="{{ path('admin_panel_users_list') }}">Retour</a>
				{{ form(form) }}
			</div>
		</div>
	</div>
	
{% endblock %}
{% block jsIncludes %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock %}

