{% extends 'baseAdmin.html.twig' %}

{% block title %}Menu d'administration{% endblock %}

{% block content %}
    <div class="container-fluid">
{#TODO: faire index admin#}
        <div class="col-md-10 offset-md-2">

            <div class="row">
                <h1 class="col-12 text-center my-5">Menu d'administration</h1>
            </div>

            <div class="row">

                <div class="col-12 col-md-8 mx-auto">

                    <p>contenu de l'index admin</p>

                </div>

            </div>
        </div>
    </div>

{% endblock %}