{% extends 'baseAdmin.html.twig' %}
{% block title %}Modifier la présentation sur la page d'accueil{% endblock %}

{% block content %}
    
    
        <div class="container-fluid">
    
            <div class="row">
                <h1 class="col-10 offset-2 text-center my-5">Modifier la présentation sur la page d'accueil</h1>
            </div>
            
            <div class="row">
                <div class="col-12 col-md-8 offset-md-3">
                    {{ form(form) }}
                </div>
            </div>
        </div>
{% endblock %}



