{% extends 'baseAdmin.html.twig' %}

{% block title %}Modification de la boutique{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-10 offset-md-2">
            <div class="row">

                <div class="col-10 mx-auto">

                    {# Formulaire de modification d'une boutique #}

                    {{ form(form) }}


                </div>

            </div>
        </div>
    </div>

{% endblock %}

