{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel évènement{% endblock %}

{% block body %}
<h1>Créer un nouvel évènement</h1>
{# TODO: Faire le front du formulaire #}
{#TODO Afficher els erreurs et messages de succès avec les flash#}
{{ form(form) }}

{% endblock %}


